p {
    color: gray;
    text-align: center;
}

h1 {
    color: lightblue;
    text-align: center;
}

h3 {
    color: cyan;
    text-align: center;
}

body {
    background-image: url("../images/challenger-stands-front-spooky-castle-illustration.jpg");
}